@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model ProjectTest1.Dto.EditDto
@{
    ViewData["Title"] = "EditDeveloper";
}

<h1>Edit Developer</h1>
<h2>Welcome <span style="color:#e14eca"> @User.Identity.Name </span></h2>
<hr style="background-color: #e14eca;" />


<div class="row">
    <div class="col-md-4">
        <form asp-action="EditDeveloper">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="Id" value="@ViewBag.developer.Id" />

            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input value="@ViewBag.developer.FirstName" asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input value="@ViewBag.developer.LastName" asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input value="@ViewBag.developer.UserName" asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input value="@ViewBag.developer.PhoneNumber" asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>

            <br />

            <hr style="background-color: #e14eca;" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a class="btn btn-primary" asp-action="Index">Back</a>
            </div>
        </form>
    </div>
</div>

