@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "ShowTaskes";
}
<a href="/Developer/ShowProjects?" class="btn btn-danger mb-5 "><i class="lni lni-arrow-left pr-2"></i>  Back</a>
<h1>My Taskes</h1>
<h2>Welcome <span class="" style="color:#e14eca"> @User.Identity.Name</span></h2>
<hr style="background-color: #e14eca;" />
<table class="table ">
    <thead>
        <tr>
            <th style="font-size:1rem ; color:#e14eca "> ID </th>
            <th style="font-size:1rem ; color:#e14eca ">Title </th>
            <th style="font-size:1rem ; color:#e14eca ">Descrption</th>
            <th></th>

        </tr>
    </thead>
    <tbody>
        @foreach (var task in (List<SprintTask>)ViewBag.taskes)
        {
            <tr>
                <td>@task.Id</td>
                <td>@task.Title</td>
                <td>@task.Description</td>
                <td>@task.status</td>



                <td>


                    <a id="addWork" href="/Developer/CreateWork?id=@task.Id" class="btn btn-dark">Submit Wrok </a>
                    <a href="/Developer/ShowWorks?id=@task.Id" class="btn btn-dark">Show all Wrok</a>

                </td>

            </tr>
        }
    </tbody>
</table>